<div class="form-group row">
  <div class="col-9">
    <input
      type="text"
      class="form-control"
      pattern="[a-zA-Z]+"
      placeholder="Enter the Task Name"
      id="task-name"
    />
  </div>

  <div class="col-3">
    <button type="button" class="btn btn-danger" id="search-task">
      Search
    </button>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Task Name</th>
      <th scope="col">Parent Task</th>
      <th scope="col">Project</th>
      <th scope="col">Priority</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
